aiodhcpwatcher
aiodiscover
aiohttp_zlib_ng
async-upnp-client
caldav
croniter
cronsim
dbus-fast
emoji
ffmpeg
gTTS
ha-av
ha-ffmpeg
hassil
holidays
icalendar
isal
jsonpath
mutagen
numpy
paho-mqtt
PyMetno
PyNaCl
PyQRCode
PyTurboJPEG
psutil
pycountry
pyipp
pykodi
pymicro-vad
pyipp
pyotp
pyserial
python-matter-server
python-mpd2
pyudev
radios
slixmpp
snapcast
zm-py
zwave-js-server-python
